body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2895d8;
  width: 100%;
  height: 84px;
  border-bottom: 4px solid #1676b2;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.text {
  display: flex;
  text-align: center;
  padding: 0px 0px 0px 450px;
  color: white;
  font-family: Arial;
}
.main {
 
}

.sida {
  width: 650px;
  height: 865px;
  position: absolute;
  
}

